{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static "img/LOGO BSI.png" %}">
        <title>{{judul}}</title>
        {% include "hal_teknisi/tempelan/styles.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include "hal_teknisi/tempelan/navbar.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{{heading}}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'teknisi:index'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Data Servis</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-desktop"></i>
                                Daftar Data Servis
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>No. Servis</th>
                                            <th>Nama Barang</th>
                                            <th>Keluhan</th>
                                            <th>Status</th>
                                            <th>Pemilik</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data_servis in srv %}
                                            <tr>
                                                <td>{{ data_servis.no_servis }}</td>
                                                <td>{{ data_servis.nama_barang_servis }}</td>
                                                <td>{{ data_servis.keluhan }}</td>
                                                <td>{{ data_servis.status_servis }}</td>
                                                <td>{{ data_servis.id_plg }}</td>
                                                <td>
                                                <a class="btn btn-outline-success" href="{% url 'teknisi:edit_servis' data_servis.id %}" role:"button">
                                                    <i class="far fa-edit"></i>
                                                </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2021 PT. Bali Soket Informindo</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% include "hal_teknisi/tempelan/scripts.html" %}
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static "vendor/js/datatables-simple-demo.js" %}"></script>
    </body>
</html>
