{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static "img/LOGO BSI.png" %}">
        <title>{{judul}}</title>
        {% include "hal_admin/snippets/styles.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <!--Navbar-->
        {% include "hal_admin/snippets/navbar.html" %}
        <!--Konten-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{{heading}}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'bs_admin:index'%}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'bs_admin:data_pegawai'%}">Data Pegawai</a></li>
                            <li class="breadcrumb-item active">Edit Pegawai</li>
                        </ol>
                    </div>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form.label}}
                                        {{form.as_table}}
                                        
                                        <div class="mt-4">
                                            <input type="reset" class="btn btn-secondary" value="Reset">
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                            <a href="{% url 'bs_admin:data_pegawai'%}" class="btn btn-danger">Batal</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2021 PT. Bali Soket Informindo</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% include "hal_admin/snippets/scripts.html" %}
    </body>
</html>
