{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static "img/LOGO BSI.png" %}">
        <title>{{judul}}</title>
        {% include "hal_admin/snippets/styles.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <!--Navbar-->
        {% include "hal_admin/snippets/navbar.html" %}
        <!--Konten-->
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{{heading}}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'bs_admin:index'%}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'bs_admin:data_pembayaran'%}">Data Pembayaran</a></li>
                            <li class="breadcrumb-item active">Bayar</li>
                        </ol>
                    </div>
                    <div class="container-fluid px-4">
                        <div class="row">
                            <div class="col-md-4">
                                <form role="form" method="post">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">No. Transaksi:</label>
                                        <input type="text" readonly name="no_transaksi" value="{{ bayar.no_transaksi }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">No. Servis:</label>
                                        <input type="text" readonly name="no_servis" value="{{ bayar.id_servis.no_servis }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Nama Laptop:</label>
                                        <input type="text" readonly name="nama_barang_servis" value="{{ bayar.id_servis.nama_barang_servis }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Nama Barang:</label>
                                        <input type="text" readonly name="nama_barang" value="{{ bayar.id_barang.nama_barang }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Jasa:</label>
                                        <input type="text" readonly name="nama_jasa" value="{{ bayar.id_jasa.nama_jasa }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Nama Pemilik:</label>
                                        <input type="text" readonly name="nama_plg" value="{{ bayar.id_plg.nama_plg }}" class="form-control" id="exampleFormControlInput1" placeholder="">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Status Bayar:</label>
                                        <select class="form-select" aria-label="Default select example" name="status_bayar">
                                            <option value="lunas">Lunas</option>
                                            <option value="belum_lunas">Belum Lunas</option>
                                        </select>
                                    </div>
                                    <div class="mt-4">
                                        <input class="btn btn-primary" type="submit" value="Simpan">
                                        <a href="{% url 'bs_admin:data_pembayaran'%}" class="btn btn-danger">Batal</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2021 PT. Bali Soket Informindo</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% include "hal_admin/snippets/scripts.html" %}
    </body>
</html>