{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="{% static "img/LOGO BSI.png" %}">
        <title>{{judul}}</title>
        {% include "penempel/styles.html" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include "penempel/navbar.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{{heading}}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="{% url 'index'%}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Data Barang dan Jasa</li>
                        </ol>
                        <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-tag"></i>
                            Daftar Data Barang
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                 <thead>
                                    <tr>
                                        <th>Nama Barang</th>
                                        <th>Jenis Barang</th>
                                        <th>Harga Barang</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_barang in brg %}
                                        <tr>
                                            <td>{{ data_barang.nama_barang }}</td>
                                            <td>{{ data_barang.jenis_barang }}</td>
                                            <td>{{ data_barang.harga_barang }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-tag"></i>
                            Daftar Data Jasa
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple2">
                                <thead>
                                    <tr>
                                        <th>Nama Jasa</th>
                                        <th>Harga Jasa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_jasa in js %}
                                        <tr>
                                            <td>{{ data_jasa.nama_jasa }}</td>
                                            <td>{{ data_jasa.harga_jasa }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2021 PT. Bali Soket Informindo</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% include "penempel/scripts.html" %}
    </body>
</html>
